body {
    margin-top: 150px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url("./img/fondologo.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navbar{
    background-color: #594d85;
    opacity: 95%;
  }
  /*titulo*/
  h1{
    color: rgba(241, 92, 112, 0.945);
    font-weight: 800;
    margin-top: 120px;
    font-size: 60px;
  }
  h2{
    text-align:left;
    color: rgb(208, 217, 245);
    font-size: 45px;
  }
  button.navbar-toggler {
  border: none;
  font-size: 200%;
  color: rgb(93, 66, 247);
  }
  .footer {
    background-color: none;
    padding: 30px 0;
    color: #fff;
  }
  
  .div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .div-footer img {
    width: 30px;
  }
  
  .div-footer p {
    margin: 0;
    font-size: 16px;
  }
  
  .div-footer a {
    display: inline-block;
  }
  .whatsapp-logo {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    height:70px;
  }
  
  .container{
    margin-left: 5px;
    margin-right: 1%;
  }
  /*preguntas*/
 .accordion-button {
    background-color: #2e4696;
    color: #a986c0;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    border: 1px solid palevioletred;
    border-radius: 10px;
    min-height: 100px;
  }
  /*respuestas*/
  .accordion-body {
    background-color: #793bac ;
    color: #fcfbfb;
    font-size: 25px;
    min-height: 75px;
    padding: 10px;
    border: 1px solid #fd9595;
    border-radius: 10px;
  }
  
  /*imagen menu*/
  .navbar-toggler-icon {
    background-image:url("./img/—Pngtree—\ vector\ icon_3791388.png");
    width:88px ;
    height:88px;
  
  }
  /*Menu desplegado*/
.mi-estilo{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}


  /*panel menu*/
  .offcanvas-end{
    background-color: #9855a5b6;
    color: plum;
    background-position: center;
  }
  /* btn promociones*/
.btn {
  background-color: rgb(184, 4, 124);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:25px;
}
/*cartelbtn*/
.card{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
  display:inline-block;
  background-color: rgb(247, 128, 237);
  border-radius: 10%;
  border: 3px;
}
.carousel-item img {
  max-width: 800px; 
  height: 500px; 
  margin: 0 auto; 
}
/* Estilo para los botones de navegación del carrusel */
.carousel-control-prev, .carousel-control-next {
  width: 20%;
  margin-top: 50px;
}
/*btn centrado*/
.carousel-control-prev {
  left: 100px;
}
/*btn cwntrado*/
.carousel-control-next {
  right: 100px;
}
/*nuevo btn*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none;
}
/*btn carrusel*/
.carousel-control-prev:before {
  content: '\2039';
  font-size: 90px;
  color:#eeabd8 ;
}
/*btn carrusel*/
.carousel-control-next:before {
  content: '\203a';
  font-size: 90px;
  color: #eeabd8;
}
/*imagenes*/
.form-floating{
  width: 50%;
  left: 450px;
}
.img-fluid {
  height: 500px;
  margin-top:100px;
  border: 3px solid rgb(63, 29, 252);
}
.img-fluid:hover {
  transform: scale(1.4);
}
/*videos*/
.embed-responsive{
  display: flex;
  margin: 100px;
  width: 30%;
  height: 500px;
  gap: 35px;
}

