$primary-color: rgba(149, 150, 199, 0.76);
$secondary-color: #937deb;
$accent-color: #e2dce1;
$text-color: rgb(77, 40, 45);
$heading-font: "Space Mono", monospace;
$whatsapp-logo-height: 70px;
$accordion-button-color: #f0ddfa;
$accordion-body-color: #faf8fdea;
$offcanvas-color: rgba(173, 153, 192, 0.9);
$btn-bg-color: rgb(218, 129, 240);
$card-bg-color: rgb(225, 174, 245);
$carousel-control-color: #eeabd8;
$font-family: "Space Mono", monospace;
$font-s:25px;
$carousel-height: 400px;
$carousel-width: 600px;
$celu:15px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;